In [13]:
from sklearn.linear_model import LinearRegression
import numpy as np
import pandas as pd
import json
import matplotlib.pyplot as plt

## LOAD Data

In [14]:
import pandas as pd
df1 = pd.read_csv("C:/Users/ehdgm/Desktop/movie_data.csv", encoding = 'utf-8')
df1

,movieID,movieNm,Opendate,매출액,audiAcc,scrnCnt,showCnt,genre,grade,mainAct,rating,director,result
0,1,명량,2014-07-30,1.360000e+11,17615686,1587,188720,1,8.88,3,3,3,3
1,2,극한직업,2019-01-23,1.400000e+11,16266338,2003,292816,2,9.20,3,3,3,3
2,3,신과함께-죄와 벌,2017-12-20,1.160000e+11,14411782,1912,213320,6,8.73,3,2,3,3
3,4,어벤져스: 엔드게임,2019-04-24,1.220000e+11,13977602,2835,246433,1,9.49,3,2,3,3
4,5,겨울왕국 2,2019-11-21,1.150000e+11,13747792,2648,299334,6,8.95,2,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,71,역린,2014-04-30,2.989427e+10,3849552,1054,83296,3,7.43,3,3,2,2
71,72,끝까지 간다,2014-05-29,2.700730e+10,3450305,645,84875,1,8.83,3,3,3,2
72,73,피끓는 청춘,2014-01-22,1.168838e+10,1676040,679,36082,2,7.54,2,3,1,1
73,74,말레피센트,2014-05-29,1.077697e+10,1397526,554,38894,6,8.38,3,2,1,1
74,75,방황하는 칼날,2014-04-10,7.828892e+09,989906,594,38850,5,7.48,3,4,1,1

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
from sklearn.model_selection import train_test_split

x=df1[['scrnCnt', 'showCnt', 'genre', 'grade', 'mainAct', 'rating', 'director']]
y=df1[['result']]

x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8, test_size=0.2)

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
mlr=LinearRegression(fit_intercept=True)

In [19]:
mlr=mlr.fit(x_train, y_train)

In [20]:
my_code=[[1540, 110439, 1, 8.63, 1, 2, 3]]
mypredict=mlr.predict(my_code)

In [21]:
print(mypredict)

[[1.65958578]]

In [22]:
print(mlr.coef_)

[[2.97136823e-05 7.87352863e-06 1.31858389e-03 1.90503474e-01
  2.46440194e-01 2.37933546e-02 1.06120724e-01]]

In [23]:
print(mlr.intercept_)

[-1.51347056]